<html lang="en">

   <%- include header %>
   <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron" style="background: #e8f1f8">
        <h1>Welcome</h1>
        <p>User</p>
        <p>
          <a class="btn btn-lg btn-primary" href="/login" role="button">Go back »</a>
        </p>
      </div>
    <%- include footer %>